# =========================
# R specific
# =========================
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# ======================
# Data (critical)
# ======================
data/raw/*
!data/raw/dna_gene_sets.csv
!data/raw/rna_gene_sets.csv
!data/raw/cancerGeneList.tsv
!data/raw/gencode.v34.annotation_gene.bed
data/processed/

# ======================
# Outputs
# ======================
outputs/

# ======================
# Documents
# ======================
docs/

# =========================
# Quarto / RMarkdown
# =========================
*_files/
*.knit.md
*.utf8.md