# =========================
# R specific
# =========================
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# ======================
# Data (critical)
# ======================
*.xls
*.xml
*.txt
*.gz
*.rds
*.csv
!data/raw/dna_gene_sets.csv
!data/raw/rna_gene_sets.csv
!data/processed/tcga/tcga_processed_data.csv
*.tsv
!data/raw/cancerGeneList.tsv
*.bed
!data/raw/gencode.v34.annotation_gene.bed
*.xlsx
!data/raw/tcga/NIHMS978596-supplement-1.xlsx
!data/raw/tcga/ppat.1008468.s009.xlsx

# ======================
# Outputs
# ======================
outputs/

# =========================
# Report sources
# =========================

*.bib
*.yml
report_sources/
*_files/
*.knit.md
*.utf8.md
/.quarto/

# =========================
# Documents
# =========================
*.pdf
*.docx
docs/articles/
